[submodule "crazyflie-firmware"]
	path = crazyflie-firmware
	url = https://github.com/bitcraze/crazyflie-firmware.git
[submodule "src/TinyMPC"]
	path = src/TinyMPC
	url = https://github.com/tinympc/tinympc.git
