[submodule "crazyflie-firmware"]
	path = crazyflie-firmware
	url = https://github.com/moisesmata/crazyflie-firmware.git
[submodule "TinyMPC"]
	path = src/TinyMPC
	url = https://github.com/moisesmata/TinyMPC.git
